.header {
    background: url("../../images/header.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 42vh;
}

.header form {
    max-width: 60%;
}

.bg-rgba {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.title-header {
    text-shadow: 5px 5px 10px rgba(0,0,0,.2);
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    text-align: center;
}

@media (max-width: 900px) {
	.title-header {
        font-size: 2.4rem;
    }
    .header {
        height: 60vh;
    }
    .header form {
        max-width: 90%;
    }
}