.propiedad-listado:hover {
    transform: scale(1.001);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all ease .5s;
  }

.propiedad-link {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Usar el color del texto padre */
}

.propiedad-link:hover {
    text-decoration: none; /* Subrayar al hacer hover */
    color: inherit; /* Cambiar color al hacer hover (por ejemplo, rojo) */
}
  
.propiedad-link:active {
    color: inherit; /* Cambiar color cuando el enlace está activo (por ejemplo, verde) */
}