.accordion-1 .area-1 {
	height: 440px;
	background: url('https://images.unsplash.com/photo-1562663474-6cbb3eaa4d14?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80') center center no-repeat;
	background-size: cover;
	transition: all ease .5s;
}

.accordion-1 .area-1:hover {
	opacity: .8;
}

.accordion-1 .area-2 {
	padding-top: 1rem;
}

.accordion-1 .accordion {
	max-width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.accordion-1 h2 {
	margin-bottom: 1rem;
}

.accordion-1 p {
	font-size: 1.1em;
}

.blog-link {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Usar el color del texto padre */
}

.blog-link:hover {
    text-decoration: none; /* Subrayar al hacer hover */
    color: inherit; /* Cambiar color al hacer hover (por ejemplo, rojo) */
}
  
.blog-link:active {
    color: inherit; /* Cambiar color cuando el enlace está activo (por ejemplo, verde) */
}

.card-noticia:hover {
    transform: scale(1.001);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all ease .5s;
  }

@media (min-width: 768px) {
	.accordion-1 .accordion {
		max-width: 70%;
	}
}

@media (min-width: 992px) {
    .cards-2 .card {
        display: inline-block;
        width: 292px;
        max-width: 100%;
        vertical-align: top;
    }

    .cards-2 .card:nth-of-type(3n+2) {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    .accordion-1 {
		height: 640px;
	}
	
	.accordion-1 .area-1 {
		width: 40%;
		height: 100%;
		display: inline-block;
	}
	
	.accordion-1 .area-2 {
		width: 60%;
		height: 100%;
		display: inline-block;
		vertical-align: top;
	}
	
	.accordion-1 .accordion {
		max-width: 88%;
		margin-left: 2rem;
		padding-bottom: 0;
	}

	.accordion-1 .accordion-title {
		width: 85%;
	}
}

         
.btn-grad {
	background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
	transition: 0.5s;
	color: #fff;
	padding: 9.5px 36px;
	background-size: 200% auto;
	border-radius: 25px;
  }

  .btn-grad:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
  }

  .btn-home {
    color: #fff;
    padding: 9.5px 36px;
    background: #e63946;
    background: -webkit-linear-gradient(left,#e63946 0%,#ffa387 51%,#e63946 100%);
    background: linear-gradient(to right,#e63946 0%,#ffa387 51%,#e63946 100%);
    background-size: 200% auto;
    border-radius: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-home:hover {
	background-position: right center; /* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}

.tags.home a {
	color: #203656;
}

@media (min-width: 1200px) {
    .cards-2 .card {
        width: 300px;
    }
    
    .cards-2 .card:nth-of-type(3n+2) {
        margin-right: 1.625rem;
        margin-left: 1.625rem;
    }

}
