.custom-select {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    outline: none;
    appearance:none;
    background-image: url("../../images/flecha.png");
    background-repeat: no-repeat; 
    background-position-x: 95%;
    background-position-y: center;
    background-size: 10px;
    cursor: pointer;
  }

  .custom-select:hover {
    background-color: #fff;
  }
