/* Menú */
nav ul li {
    list-style: none;
}

nav div ul li .nav-item {
    transition: all ease 0.3s
}

.nav-item {
    color: #fff;
    text-decoration: none;
}

.nav-item:hover {
    color: #ffc8dd
}

.bg-menu {
    background-color: rgba(240, 239, 235, 0.6);
}

.offcanvas {
    max-width: 70% !important
}

