/* Menú */
nav ul li {
    list-style: none;
}

nav div ul li .nav-item {
    transition: all ease 0.3s
}

.nav-item {
    color: #000;
    text-decoration: none;
}

.logo {
    color: #000;
    transition: all ease 0.3s
}

.logo:hover {
    color: #198754
}

.nav-item:hover {
    color: #198754
}

.bg-menu {
    background-color: #f3f7f8;;
}

.offcanvas {
    max-width: 70% !important
}

