nav {
    height: 3.6rem;
    width: 100vw;
    background-color: var(--color-primary);
}

.navbar-nav {
    gap: .5rem
}

.nav-link {
    font-size: 1.1em;
    font-weight: 500;
}

.nav-link:hover {
    color: lightgreen
}

