.search-box {
    position: relative;

    }
.search-form {
    height: 45px;
    border: 1px solid #4a4e69;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    overflow: hidden;
    }
.search-text {
    font-size: 16px;
    color: #ddd;
    border-width: 0;
    background: transparent;
    }
    
.search-box input[type="text"] {
    width: 90%;
    padding: 8px 0 12px 1em;
    color: #333;
    outline: none;
    }
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 90px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 4px;
    border-width: 0;
    background-color: #22223b;
    -webkit-border-radius: 0px 15px 15px;
    -moz-border-radius: 0px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    }

.card-servicios:hover {
    transform: scale(1.001);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all ease .5s;
}